/* Fix card-collection so that the buttons and filters are aligned properly in a row with a bit of spacing */
.filterFormCollection {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 900px;
    margin-left: -97px;
}
/* Fix logout button style in navbar to be right next to the profile picture in the left side of the navbar */
.logoutForm {
    left: 1290px;
    position: absolute;
}
.clearFiltersCollection {
    margin-left: -45px;
}
.viewAllCardsButton {
    margin-left: -40px;
    margin-right: -40px;
}